block variables

.wrapper
    section.feedback 
        .feedback__background(class={'blue-background': mainPage,
                                     'white-background': contactsPage})
            .feedback__background-image 
                .feedback__container.container 
                    .feedback__info 
                        h3.feedback__title Intersted to woek with our team?
                        p.feedback__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    a(href="#", class="feedback__btn btn") Let’s Talk 