block variables

.wrapper
    footer.footer 
        .footer__background(class={'blue-background': mainPage,
                                   'white-background': contactsPage})
            .footer__background-image 
                .footer__container.container
                    .footer__nav 
                        .footer__menu-afrianska
                            .footer__afrianska-title Afrianska
                            .footer__afrianska-element Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            .footer__afrianska-element +62-812-7313-4321
                            .footer__afrianska-element hello.afrian@gmail.com
                        .footer__menu
                            .footer__menu-title About US
                            .footer__menu-element About
                            .footer__menu-element What We Do
                            .footer__menu-element Project
                            .footer__menu-element How It Work With Us
                        .footer__menu
                            .footer__menu-title Follow US
                            .footer__menu-element Instagram
                            .footer__menu-element Facebook
                            .footer__menu-element LinkedIn
                            .footer__menu-element Youtube
                    p.footer__rights 2019 © Afrianska. All rights reserved. 