header.header
    nav.header__nav-menu
        ul.header__nav-list
            a(href="main.html") 
                li.header__to-main-page
            a(href="contacts.html")
                li.header__to-contacts-page

        