extends ../layout/base

block variables
    - var title = 'Контакты'
    - var contactsPage = true

block content
    .wrapper
        section.contact-us 
            .contact-us__container.container 
                h2.contact-us__title Contact Us
                p.contact-us__text.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        section.contacts 
            .contacts__container.container
                .contacts__info 
                    .contacts__feedback
                        img(src="../src/static/img/svg/contacts-img.svg", class="contacts__img")
                        p.contacts__title ADDRESS
                        p.contacts__text.text Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
                        p.contacts__title PHONE
                        p.contacts__phone-number +62-812-7313-4321
                        p.contacts__phone-number +62-817-000-1234
                        p.contacts__title ONLINE SERVICE
                        a(href="#", class="contacts__web") www.afrianska.com
                        a(href="#", class="contacts__gmail") hello.afrian@gmail.com
                    .contacts__form 
                        form(method="post", class="contacts__form-body")
                            p.contacts__title SEND US MESSAGE
                            .contacts__form-field 
                                label(for="text-field") Full Name
                                input(type="text", id="text-field", placeholder="Your Name")
                            .contacts__form-field 
                                label(for="email-field") Email
                                input(type="email", id="email-field", placeholder="Your Email")
                            .contacts__form-message 
                                label(for="your-message") Message
                                textarea(id="your-message", cols="30", rows="10", placeholder="Your Message")
                            a(href="#", class="contacts__submit-btn btn") SUBMIT  
                .contacts__map
                    img(src="../src/static/img/jpg/contacts-map.jpg", alt="Карта")
                